<!doctype html>
<html>
<head>
  <title>Ballot Studio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--
  <link rel="stylesheet" type="text/css" href="style.css" media="screen, handheld" />
  <link rel="stylesheet" type="text/css" href="enhanced.css" media="screen  and (min-width: 40.5em)" />
-->
<style>
  .topsec{border:1px solid #555;padding:0.6em;background-color:#fffbf8;}
  .optional{font-size:80%;color:#555;}
  .fieldnote{font-size:80%;color:#555;}
  .datid{font-size:90%;font-family:monospace;color:#444;}
  div.recform{border:1px solid #555;padding-left:1em;margin:0.5em;background-color:#fafafa;}
.foo{}
@media screen and (min-width: 40.5em) {
.foo{}
}
</style>
</head>
<body>
  <h1>Ballot Studio</h1>
  <template id="partytmpl" data-attype="ElectionResults.Party" data-seq="party">
    <div class="recform">
      <table border="0">
	<tr><td>@id</td><td><input type="text" data-key="atid" value="watid" disabled="true" /></td></tr>
	<input type="hidden" data-key="attype" value="ElectionResults.Party" />
	<tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
	<tr><td colspan="2" class="optional">optional:</td></tr>
	<tr><td>Abbreviation</td><td><input type="text" data-key="Abbreviation" /></td></tr>
	<tr><td>Color</td><td><input type="text" data-key="Color" /></td><td class="fieldnote">HTML color, e.g. #ff0000 for red</td></tr>
	<tr><td>Contact Information</td><td class="erobject" data-name="ContactInformation" data-tmpl="contacttmpl"></td></tr>
	<tr><td>External Identifiers</td><td><textarea data-name="ExternalIdentifier"></textarea></td></tr>
	<tr><td>Recognized Party</td><td><input type="checkbox" data-key="IsRecognizedParty"></td></tr>
	<tr><td>Leaders</td><td>TODO: look up and make references to People, "LeaderPersonIds"</td></tr>
	<tr><td>Logo URI</td><td><textarea data-key="LogoUri"></textarea></td></tr>
	<tr><td>Slogan</td><td><input type="text" data-key="Slogan" /></td></tr>
	<tr><td>Scope</td><td>TODO: look up and make references to Geo-Political Units, "PartyScopeGpUnitIds"</td></tr>
      </table>
      <button class="deleterec">Delete Party (TODO)</button>
    </div>
  </template>
  <div class="topsec"><h2>Parties</h2>
    <div id="parties" class="arraygroup" data-name="Party"></div>
    <div><button class="newrec" id="newparty" data-btmpl="partytmpl" data-seq="party">New Party</button></div>
  </div>

  <template id="persontmpl" data-attype="ElectionResults.Person" data-seq="person">
    <div class="recform">
      <table border="0">
	<tr><td>@id</td><td><input type="text" data-key="atid" value="watid" disabled="true" /></td></tr>
	<input type="hidden" data-key="attype" value="ElectionResults.Person" />
	<tr><td>Full Name</td><td><input type="text" data-key="FullName" /></td></tr>
	<tr><td>Prefix</td><td><input type="text" data-key="Prefix" /></td></tr>
	<tr><td>First Name</td><td><input type="text" data-key="FirstName" /></td></tr>
	<tr><td>Middle Name</td><td><input type="text" data-key="MiddleName" /></td><td>TODO: accept list</td></tr>
	<tr><td>Last Name</td><td><input type="text" data-key="LastName" /></td></tr>
	<tr><td>Suffix</td><td><input type="text" data-key="Suffix" /></td></tr>
	<tr><td>Nickname</td><td><input type="text" data-key="Nickname" /></td></tr>
	<tr><td>Title</td><td><input type="text" data-key="Title" /></td></tr>
	<tr><td>Profession</td><td><input type="text" data-key="Profession" /></td></tr>
	<tr><td>Contact Information</td><td class="erobject" data-name="ContactInformation" data-tmpl="contacttmpl"></td></tr>
	<tr><td>Date of Birth</td><td><input type="text" data-key="DateOfBirth" /></td></tr>
	<tr><td>External Identifiers</td><td><textarea data-name="ExternalIdentifier"></textarea></td></tr>
	<tr><td>Party</td><td>TODO: look up and make reference to Party, "PartyId"</td></tr>
      </table>
      <button class="deleterec">Delete Person (TODO)</button>
    </div>
  </template>
  <div class="topsec"><h2>People</h2>
    <div id="people" class="arraygroup" data-name="Person"></div>
    <div><button class="newrec" data-btmpl="persontmpl" data-seq="person" id="newperson">New Person</button></div>
  </div>


  <template id="officetmpl" data-attype="ElectionResults.Office" data-seq="office">
    <div class="recform">
      <table border="0">
	<tr><td>@id</td><td><input type="text" data-key="atid" value="watid" disabled="true" /></td></tr>
	<input type="hidden" data-key="attype" value="ElectionResults.Office" />
	<tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
	<tr><td colspan="2" class="optional">optional:</td></tr>
	<tr><td>Contact Information</td><td class="erobject" data-name="ContactInformation" data-tmpl="contacttmpl"></td></tr>
	<tr><td>Description</td><td><input type="text" data-key="Description" /></td></tr>
	<tr><td>Election District</td><td>TODO: look up and make references to Geo-Political Reporting Units, "ElectionDistrictId"</td></tr>
	<tr><td>External Identifiers</td><td><textarea data-name="ExternalIdentifier"></textarea></td></tr>
	<tr><td>Filing Deadline</td><td><input type="text" data-key="FilingDeadline" /></td><td>Format must be: YYYY-MM-DD<br/>TODO: proper date picker.</td></tr>
	<tr><td>Is Partisan</td><td><input type="checkbox" data-key="IsPartisan"></td></tr>
	<tr><td>Incumbents</td><td>TODO: look up and make references to People, "OfficeHolderPersonIds"</td></tr>
	<tr><td>Term</td><td class="erobject" data-name="Term"><table border="0"><tr><td>Term Label</td><td><input type="hidden" data-key="attype" value="ElectionResults.Term" /><input type="text" data-key="Label" /></td></tr><tr><td>Term Start Date</td><td><input type="text" data-key="StartDate" /></td><td>YYYY-MM-DD</td></tr><tr><td>Term End Date</td><td><input type="text" data-key="EndDate" /></td><td>YYYY-MM-DD</td></tr><tr><td>Term Type</td><td><input type="text" data-key="Type" /></td><td>term type must be "full-term" or "unexpired-term"</td></tr></table></td></tr>
      </table>
      <button class="deleterec">Delete Office (TODO)</button>
    </div>
  </template>
  <div class="topsec"><h2>Offices</h2><p>Mayor, City Council, Dog Catcher, etc...</p>
    <div id="offices" class="arraygroup" data-name="Office">
    </div>
    <div><button class="newrec" data-btmpl="officetmpl" data-seq="office" id="newoffice">New Office</button></div>
  </div>


  <template id="repunittmpl" data-attype="ElectionResults.ReportingUnit" data-seq="gpunit">
    <div class="recform">
      <table border="0">
	<input type="hidden" data-key="attype" value="ElectionResults.ReportingUnit" />
	<tr><td>@id</td><td><input type="text" data-key="atid" value="watid" disabled="true" /></td></tr>
	<tr><td>Type</td><td><input type="text" data-key="Type" /></td><td>TODO: menu. options: ( "ballot-batch",
            "ballot-style-area",
            "borough",
            "city",
            "city-council",
            "combined-precinct",
            "congressional",
            "country",
            "county",
            "county-council",
            "drop-box",
            "judicial",
            "municipality",
            "other",
            "polling-place",
            "precinct",
            "school",
            "special",
            "split-precinct",
            "state",
            "state-house",
            "state-senate",
            "town",
            "township",
            "utility",
            "village",
            "vote-center",
            "ward",
            "water"
	    )</tr>
	<tr><td colspan="2" class="optional">optional:</td></tr>
	<tr><td>AuthorityIds</td><td>TODO: look up and make references to People, "AuthorityIds"</td></tr>
	<tr><td>ComposingGpUnitIds</td><td>TODO: look up and make references to contained Geo-Political units, "ComposingGpUnitIds"</td></tr>
	<tr><td>Contact Information</td><td class="erobject" data-name="ContactInformation" data-tmpl="contacttmpl"></td></tr>
	<!-- CountStatus 0+ array of CountStatus records, effectively {"absentee":"in-process","early":"completed"} procedural detail not relevant to pre-election ballot design -->
	<tr><td>ElectionAdministration</td><td>TODO: a sub struct with ContactInformation, Name (e.g. Somewhere County Clerk), and a list of PersonIds, "ElectionAdministration"</td></tr>
	<tr><td>External Identifiers</td><td><textarea data-name="ExternalIdentifier"></textarea></td></tr>
	<tr><td>Is Districted</td><td><input type="checkbox" data-key="IsDistricted"></td></tr>
	<tr><td>Is Mail-Only</td><td><input type="checkbox" data-key="IsMailOnly"></td></tr>
	<tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
	<tr><td>Number</td><td><input type="text" data-key="Number" /></td></tr>
	<tr><td>OtherType</td><td><input type="text" data-key="OtherType" /></td><td>(when Type is "other")</td></tr>
	<tr><td colspan="2">TODO:<br><ul><li>PartyRegistration array of sub struct counting people registered with each party in this reporting unit</li><li>SpatialDimension</li><li>SubUnitsReported (post-election stat)</li><li>TotalSubUnits</li><li>VotersParticipated (post election stat)</li><li>VotersRegistered</li></ul></td></tr>
      </table>
    </div>
  </template>
  <div class="topsec"><h2>Geo-Political Units</h2><p>City, County, District, etc...</p>
    <div id="offices" class="arraygroup" data-name="GpUnit"></div>
    <div><button class="newrec" data-btmpl="repunittmpl" data-seq="gpunit" id="newrepunit">New Reporting Unit</button></div>
  </div>

  <template id="electiontmpl" data-attype="ElectionResults.Election">
    <div class="recform">
      <table border="0">
	<tr><td>@id</td><td><input type="text" data-key="atid" value="watid" disabled="true" /></td></tr>
	<input type="hidden" data-key="attype" value="ElectionResults.Election" />
	<tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
	<tr><td>Type</td><td><input type="text" data-key="Type" /></td><td>        "general",
        "other",
        "partisan-primary-closed",
        "partisan-primary-open",
        "primary",
        "runoff",
        "special"
</td></tr>
	<tr><td>Start Date</td><td><input type="text" data-key="StartDate" /></td><td>YYYY-MM-DD</td></tr>
	<tr><td>End Date</td><td><input type="text" data-key="EndDate" /></td><td>YYYY-MM-DD</td></tr>
	<tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
	<tr><td>Scope</td><td><input type="text" data-key="ElectionScopeId" /></td><td>TODO: look up and make references to Geo-Political Units, "ElectionScopeId"</td></tr>
	<tr><td colspan="2" class="optional">optional:</td></tr>
	<tr><td colspan="2"><h2>Ballot Styles</h2>
	    <div class="arraygroup" data-name="BallotStyle"></div>
	    <div><button class="newrec" data-btmpl="bstyletmpl">New Ballot Style</button></div>
	</td></tr>
      </table>
      <button class="deleterec">Delete Person (TODO)</button>
    </div>
  </template>
  <div class="topsec"><h2>Elections</h2>
    <div id="elections" class="arraygroup" data-name="Election"></div>
    <div><button class="newrec" data-btmpl="electiontmpl" id="newelection">New Election</button></div>
  </div>

  <template id="contesttmpl" data-attype="ElectionResults.OrderedContest">
    <p>TODO: OrderedContest template</p>
  </template>
  <template id="bstyletmpl" data-attype="ElectionResults.BallotStyle">
    <table border="0">
      <input type="hidden" data-key="attype" value="ElectionResults.BallotStyle" />
      <tr><td>Geo-Political Units</td><td><textarea data-name="GpUnitIds"></textarea></td><td>space separated reference list: gpunit1 gpunit2</td></tr>
      <tr><td colspan="2" class="optional">optional:</td></tr>
      <tr><td>External Identifiers</td><td><textarea data-name="ExternalIdentifier"></textarea></td></tr>
      <tr><td>Image URIs</td><td><textarea data-name="ImageUri"></textarea></td></tr>
      <tr><td>Parties</td><td><textarea data-name="PartyIds"></textarea></td>list of party ids: party1 party3<td></td></tr>
      <tr><td>Items</td><td><div class="arraygroup" data-name="OrderedContent"></div><div><button class="newrec" data-btmpl="contesttmpl">New Contest</button></div></td></tr>
    </table>
  </template>
  <template id="contacttmpl" data-attype="ElectionResults.ContactInformation">
    <table border="0">
      <input type="hidden" data-key="attype" value="ElectionResults.ContactInformation" />
      <tr><td>Name</td><td><input type="text" data-key="Name" /></td></tr>
      <tr><td>Label</td><td><input type="text" data-key="Label" /></td></tr>
      <tr><td>Address</td><td><textarea data-key="AddressLine"></textarea></td></tr>
      <tr><td>Directions</td><td><input type="text" data-key="Directions" /></td></tr>
      <tr><td>Email</td><td><textarea data-key="Email"></textarea></td></tr>
      <tr><td>Fax</td><td><textarea data-key="Fax"></textarea></td></tr>
      <tr><td>Label</td><td><input type="text" data-key="Label" /></td></tr>
      <tr><td>LatLng</td><td><input type="text" data-key="LatLng" /></td></tr>
      <tr><td>Phone</td><td><textarea data-key="Phone"></textarea></td></tr>
      <tr><td>Schedule</td><td><input type="text" data-key="Schedule" /></td><td>TODO: sub-form for ElectionResults.Schedule</td></tr>
      <tr><td>Uri</td><td><textarea data-key="Uri"></textarea></td></tr>
    </table>
  </template>

  <div><h2>debug</h2><div id="debugdiv"></div><button id="debugbutton">Do the thing!</button></div>
  <script src="/static/index.js"></script>
</body>
</html>
